@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.reset-button {
    position: absolute;
    bottom: 90px;
    left: 820px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }