@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.reset-button {
    position: absolute;
    bottom: 60px;
    left: 915px;
    font-family:'arial';
  }

  .search-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    z-index: 1;
  }
  