@keyframes slideOut {
  from {
      transform: 0;
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0;
  }
}


/* Ensure full viewport coverage */
html, body, #root, .app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container {
  position: relative;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  z-index: 1;
}

.fireInfo {
  z-index: 1;
}

.fireInfo-slide-out {
  animation: slideOut 0.5s ease-in-out;
}

